<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring">
    <output-path>$PROJECT_DIR$/target/classes/springboot_jsp_helloworld_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Micro-navigation/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Micro-navigation" />
        </element>
      </element>
    </root>
  </artifact>
</component>